<div class="row">
  <div class="col-12 d-grid mt-3 mb-3">
    <button routerLink="/cars/create" class="btn btn-success w-100">
      New Car
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Model</th>
          <th>Year</th>
          <th>Maker</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of list$ | async">
          <td>{{ car.model }}</td>
          <td>{{ car.year }}</td>
          <td>{{ car.maker }}</td>
          <td>{{ car.price }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-info">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
