<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i> List of Users </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let col of tableColumns"> {{ col.title }} </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th *ngFor="let col of tableColumns"> {{ col.title }} </th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let row of list$ | async">
          <td *ngFor="let col of tableColumns">
            <span *ngIf="!col.outputTransform && !col.htmlOutput">
              {{ row[col.key] }}
            </span>
            <span *ngIf="col.outputTransform">
              {{ col.outputTransform(row[col.key]) }}
            </span>
            <span *ngIf="col.htmlOutput" [innerHTML]="col.htmlOutput(row[col.key])">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
